WhatsApp Viewer.ncb
WhatsApp Viewer.suo

project/WhatsApp Viewer.vcproj.Hauptrechner.neonew.user
project/Debug
project/Release
project/WhatsApp Viewer.log
project/msgstore.db
project/msgstore.db.crypt5

data/test-database.db
data/test-database-large.db
data/test-database-large.sql
data/private

bazel-*/

resources/Resources.aps
resources/Resources.res

whatsapp-viewer.bundle

.gradle/
.vs/
build/
bugs/
releases/
target/
