<!DOCTYPE html>
<html>

<head>
  <title>WhatsApp Viewer</title>

  <link rel="stylesheet" href="./bulma/bulma.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <h1 class="title">WhatsApp Viewer</h1>

  <div id="container">
    <div class="container">
      <a class="button" v-on:click="loadDatabase">Load msgstore.db</a>
    </div>

    <div class="columns">
      <div class="column whatsapp-chats">
        <div class="whatsapp-chat" v-for="chat in chats">
          <span class="whatsapp-chat-caption"><a v-on:click="loadChat(chat.key)">{{chat.key}}</a></span>
        </div>
      </div>

      <ul class="column whatsapp-messages">
        <message :value="message" v-for="message in messages" />
      </ul>
    </div>
  </div>

  <script>
    require("./app.js");
  </script>
</body>

</html>
